Keras==2.2.2
nltk==3.5
numpy==1.19.4
pandas==1.1.2
pyramid==1.10.5
pyramid-swagger==2.7.0
scikit-learn @ file:///tmp/build/80754af9/scikit-learn_1598376899566/work
scipy @ file:///tmp/build/80754af9/scipy_1597686649129/work
tensorflow==2.4.0
torch==1.6.0
transformers==4.0.1